# PostgreSQL Database Configuration
DB_HOST=your-rds-host.amazonaws.com
DB_PORT=5432
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_SSL=true

# Server Configuration
PORT=4000
NODE_ENV=development

# Optional AWS S3 Credentials (for downloading live S3 files to run ExifTool)
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=your-s3-bucket-name

# Optional CloudConvert API Key (for running live CloudConvert jobs)
CLOUDCONVERT_API_KEY=
CLOUDCONVERT_FETCHER_URL=
